.cursor{
    opacity: 0;
    display: grid;
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: 20;
    place-content: center;
    img{
      display: none;
    }
    p{
      display: none;
    }
}
footer{
    margin-top: 0 !important;
  }
body{
    transition: 0.5s;
    color:white;
}
.hover-active{
    opacity: 1;
    width: 8vw;
    height:8vw;
    border-radius: 50%;
    color: white;
    p{
      display: flex;
    }
}
h1{
    font-size: 4.5vw;
  letter-spacing: -0.1vw;
  font-weight: 300;
  line-height: 1.1;
  margin-top: 0;
  grid-column: span 12;
  color: rgb(226, 221, 190);
}
.paralax{
    background-color: black;
    z-index: 2;
    position: relative;
}
.head-link{
    grid-column: span 12;
    display: flex;
    color:rgb(226, 221, 190);
    margin-bottom: 3vw;
    padding-top: 15vh;
    a{
        color: inherit;
        opacity: 0.5;
        text-decoration: none;
    }
}
.wallpaper{
    height: 120vh;
    position: relative;
    .maxw{
        transform: translateY(-200%);
    }
    img{
        height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 1;
}
    
}
.wallpaper-content{
    position: absolute;
    left: 15vw;
    top: 35vh;
}
.paragraph{
    padding-top: 20vw;
    background-color: black;
    position: relative;
    z-index: 2;
    overflow: clip;
    padding-bottom: 20vw;
}
.side-p{
    grid-column:2/ span 2;
    opacity: 0.5;
}
.side-p-2{
    grid-column:5/11;
    .lead{
        margin-bottom: 6vw;
    }
    a{
        color:inherit;
        text-decoration: none;
    }
}

.up-section{
    display: flex;
    justify-content: center;
    width: 100vw;
    position: relative;
  z-index: 3;
  overflow: clip;
  height: 100vh;
  background-image: url("https://fleava.com/assets/img/works/capsll/full1.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#up-section-2{
    background-image: url("https://fleava.com/assets/img/works/capsll/full2.webp");
}
#up-section-3{
    background-image: url("https://fleava.com/assets/img/works/capsll/full3.webp");
}
#up-section-4{
    background-image: url("https://fleava.com/assets/img/works/lustica/banner.jpg");
}
.up-section-container{
    position: relative;
    left: 0;
    width:10vw ;
    height: 100vh;
    background-color: black;
    position: absolute;
    overflow: clip;
}
.up-section-container-2{
    right: 0;
    position: relative;

    width:10vw ;
    height: 100vh;
    background-color: black;
    position: absolute;
    overflow: clip;
}

    .up-section-img{
        position: absolute;
        width: 110vw;
        left: 0;
        top: -105vh;
        height: 110vh;
        object-fit: cover;
    }
    .second{
        top: -111vh;
    }
    .third{
        top: -117vh;
    }
    .concept{
        padding-top: 10vw;
  padding-bottom: 10vw;
  background-color: rgb(27, 30, 36);
        h6{
            opacity: 0.5;
            margin-bottom: 3vw;
            grid-column: 4/span 6;
        }
        p{
            grid-column: 4/span 6; ;
        }
    }
.view-down-section{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15vw;
    color: white;
    h6{
        margin-bottom: 3vw;
    }
    h2{
        font-size: 4.5vw;
  letter-spacing: -0.1vw;
  font-weight: 300;
  line-height: 1.1;
  margin-top: 0;

    }
}
@media only screen and (max-width: 450px) {
    .wallpaper {
        height: 100vh;
        position: relative;
        a,p{
            font-weight: 400;
                font-size: 16px;
              
        }
      }
      .wallpaper-content {
        left: 10vw;
      }
      h1{
        font-size: 30px;
    line-height: 1.3;
      }
      h6{
        font-weight: 400;
    font-size: 16px;
      }
      p{
        font-size: 18px;
    }
      .side-p {
        grid-column: span 12;
       
      }

      .side-p-2 {
        grid-column: span 12;
        
      }
      .paragraph {
        padding-bottom: 70vw;
        padding-top: 40vw;
      }
      .view-down-section{
        left:10vw;
        h2{
            font-size: 30px;
            line-height: 1.3;
        }
      }
      .concept{
        h6 {
            grid-column:span 12;
          }
          p {
            grid-column: span 12;
          }
      } 
      
  }