.cursor{
    opacity: 0;
    display: grid;
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: 20;
    place-content: center;
    img{
      display: none;
    }
    p{
      display: none;
    }
}
body{
    transition: 0.5s;
    color:white;
    background-color: #1B1B1B ;
}
.hover-active{
    opacity: 1;
    width: 8vw;
    height:8vw;
    border-radius: 50%;
    color: white;
    p{
      display: flex;
    }
}
h1{
    font-size: 6vw;
    line-height: 1;
    letter-spacing: -0.1vw;
    font-weight: 300;
    
    margin-top: 0;
  }
  footer{
    margin-top: 0 !important;
  }
  h3{
    font-size: 4vw;
    letter-spacing: -0.1vw;
    font-weight: 300;
    line-height: 1.1;
    margin-top: 0;
  }
  .head-text{
      padding-bottom: 10vw;
      padding-top: 15vw;
    min-height: 80vh;
    color: white ;
    display: flex;
    align-items: end;
    background-color: black;
    h1{
      grid-column: span 10;
      
      
    }
  
  }
  .head-text-link{
      grid-column: span 12;
      margin-bottom: 3vw;
      font-weight: 400;
      a{
          color: white;
          text-decoration: none;
          opacity: 0.5;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
      }
      a:hover{
          opacity:1;
      }
  }
  .partners{
    margin-top: -8vw;
    padding-bottom: 10vw;
    color: inherit;
    background-color: inherit;
    h3{
      margin-bottom: 3vw;
      grid-column: 7/span 6;
    }
    p{
      font-size: 1.5vw;
      grid-column: 7/span 6;
    }
    img{
      grid-column: 4/span 2;
    }
  }
  .side-img{
    border-top: black solid 22vw;
      
      background-color: inherit;
    }
    .side-img-div{
      top: -20vw;
      position: relative;
  width: 83%;
  height: 85vh;
  
    }
    .side{
        display: flex;
        flex-direction: column;
        grid-column: span 6;
        padding-left: 6vw;
        row-gap: 10vw;
        padding-top: 20vw;
        padding-bottom: 10vw;
        a{
            text-decoration: none;
            color: inherit;
        }
        h4{
            margin: 2vw 0;
        }
        p{
            opacity: 0.6;
      padding-right: 11vw;
      
      span{
        display: inline-block;
      }
        }
    }
    .side:first-of-type{
        padding-top: 0;
        padding-left: 0;
        padding-right: 6vw;
        row-gap: 20vw;
    }
    .works-img{
        width: 100%;
      height: 65vh;
      position: relative;
      picture{
        img{
            position: relative;
            top: -10%;
      left: -5%;
      width: 120%;
      height: 120%;
        }
      }
    }
    .work_caption {
        padding-top: 3vw;
        display: flex;
      }
      .line_sep {
        height: 1px;
        width: 100%;
        margin-top: 0.8vw;
        background: rgba(255,255,255,0.3);
        width: 35%;
      }
      .client {
        padding-right: 20px;
        white-space: nowrap;
        opacity: 0.7;
        color: inherit;
      }
      h4{
        font-size: 2.4vw;
      letter-spacing: -0.05vw;
      font-weight: 400;
      line-height: 1.1;
      color: inherit;
      }
      p{
        color: inherit;
      }

      //slider
      .container-c {
        grid-column: span 12;
        position: relative;
       overflow: clip;
       
      }
     
      
      /*cards */
      .cards ,.cards-2{
      
        padding-left: 12vw;
        padding-right: 20vw;
        position: relative;
        top: 0;
        left: 0;
        display: grid;
        grid-template-columns: repeat(7, 24vw);
        grid-gap: 3vw;
        width: fit-content;
        pointer-events: none;
      }
      .card:hover{
        opacity: 0.3;
      }
      /* card */
      .card {
        overflow: hidden;
        transition: opacity 0.5s ease;
          height: 55vh;
        img{
          height: 100%;
  width: 100%;
  object-fit: cover;

        }
      }
      
      /* card_content */
      .card__content {
        text-decoration: none;
        color: rgb(224, 204, 187);
        
  position: relative;
  
  h4{
    margin-top: 3.5vw;
    margin-bottom: 2vw;
    padding-right: 5vw;
  }
        p{
          opacity: .7;
          padding-right: 5vw;
        }
      }

      @media only screen and (max-width: 450px) {
        .partners img {
          display: none;
        }
        .card {
          overflow: hidden;
          transition: opacity 0.5s ease;
          height: 17vh;
        }
        .works-img {

          height: 23vh;

        
        }
      }